#about {
	position: absolute;
	top: 200px;
	width: 90%;
	height: 80%;
	z-index: 11;
	left: 5%;
	padding: 10px;
	color: rgba(0,0,51,1);
	background: rgba(255,255,255,1) url(../_images/12308-world-map-on-water-1680x1050-digital-art-wallpaper.jpg);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bolder;
	text-shadow: 1px 1px 3px rgba(255,255,255,1);
}
#about p {
	text-align: justify;
}
